@model IEnumerable<Website.Models.UserAddress>

@{
	ViewData["Title"] = "Address Book";
}

<h2>Index</h2>

<p>
	<a asp-controller="AddressBook" asp-action="Create">Create New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				Address
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Company)<br />
					@Html.DisplayFor(modelItem => item.Building)<br />
					@Html.DisplayFor(modelItem => item.Street)<br />
					@Html.DisplayFor(modelItem => item.Area)<br />
					@Html.DisplayFor(modelItem => item.Town)<br />
					@Html.DisplayFor(modelItem => item.County)<br />
					@Html.DisplayFor(modelItem => item.Postcode)<br />
					@Html.DisplayFor(modelItem => item.Country)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.AddressId">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.AddressId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
