@model IEnumerable<UserAddress>

@{
	ViewData["Title"] = "Address Book";
}

<h2>@ViewData["Title"]</h2>

<p><a asp-controller="AddressBook" asp-action="Create">Create New</a></p>

<table class="table table-striped table-bordered table-hover table-responsive">
	<thead>
		<tr>
			<th>Address</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					@if (!string.IsNullOrEmpty(item.Company))
					{
						@Html.DisplayFor(modelItem => item.Company)<br />
					}
					@Html.DisplayFor(modelItem => item.Building)<br />
					@Html.DisplayFor(modelItem => item.Street)<br />
					@Html.DisplayFor(modelItem => item.Area)<br />
					@Html.DisplayFor(modelItem => item.Town)<br />
					@Html.DisplayFor(modelItem => item.County)<br />
					@Html.DisplayFor(modelItem => item.Postcode)<br />
					@Html.DisplayFor(modelItem => item.Country)
				</td>
				<td class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
					<a asp-action="Edit" asp-route-id="@item.AddressId" class="btn btn-sm btn-default">Edit</a>
					<a asp-action="Delete" asp-route-id="@item.AddressId" class="btn btn-sm btn-default">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
