@model CMSViewModel

@{
	ViewData["Title"] = "Page Details";
}

<h2>@ViewData["Title"]</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Page.Url)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Page.Url)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Page.Status)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Page.Status)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Page.ModifiedDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Page.ModifiedDate)
		</dd>
	</dl>
</div>

<div>
	<a asp-action="Edit" asp-route-url="@Model.Page.Url">Edit</a> |
	<a href="/@Model.Page.Url" target="_blank">View</a> |
	<a asp-action="Index">Back to List</a>
</div>

<hr />
<h3>History</h3>
<table class="table table-striped table-bordered table-hover table-responsive">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.History[0].ModifiedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.History[0].ModifiedBy)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.History[0].VersionId)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.History)
		{
			<tr>
				<td class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					@Html.DisplayFor(modelItem => item.ModifiedDate)
				</td>
				<td class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					@Html.DisplayFor(modelItem => item.ModifiedBy)
				</td>
				<td class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<a href="#@item.VersionId">@Html.DisplayFor(modelItem => item.VersionId)</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<hr />
<h3>Versions</h3>
<table class="table table-striped table-bordered table-hover table-responsive">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Versions[0].VersionId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Versions[0].Content)
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Versions)
		{
			<tr>
				<td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<a name="@item.VersionId"></a>
					@Html.DisplayFor(modelItem => item.VersionId)
				</td>
				<td class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
					@Html.DisplayFor(modelItem => item.Content)
				</td>
				<td class="col-lg-2 col-md-2 col-sm-3 col-xs-3 text-center">
					@if (item.VersionId != Model.Page.VersionId)
					{
						<a asp-action="UseVersion" asp-route-url="@item.Url" asp-route-version-id="@item.VersionId" class="btn btn-default">User</a>
						<a asp-action="Archive" asp-route-url="@item.Url" asp-route-version-id="@item.VersionId" class="btn btn-default">User</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
