@model IEnumerable<CMSViewModel>

@{
	ViewData["Title"] = "CMS Pages";
}

<h2>@ViewData["Title"]</h2>

<p><a asp-action="Create">Create New</a></p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Page.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Page.Url)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Page.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Page.ModifiedDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Page.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Page.Url)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Page.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Page.ModifiedDate)
				</td>
				<td>
					<a asp-action="Edit" asp-route-url="@item.Page.Url">Edit</a> |
					<a asp-action="Details" asp-route-url="@item.Page.Url">Details</a> |
					<a asp-action="Delete" asp-route-url="@item.Page.Url">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
