@model IEnumerable<Website.Models.CMSPage>

@{
	ViewData["Title"] = "CMS Pages";
}

<h2>@ViewData["Title"]</h2>

<p><a asp-action="Create">Create New</a></p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Url)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ModifiedDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Url)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ModifiedDate)
				</td>
				<td>
					<a asp-action="Edit" asp-route-url="@item.Url">Edit</a> |
					<a asp-action="Details" asp-route-url="@item.Url">Details</a> |
					<a asp-action="Delete" asp-route-url="@item.Url">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
