@{
}
<div id="h">
	<div class="in">
		<div class="l"><a href="/"><img src="/img/hdr/PinDigital.png" alt="Pin Digital" title="Pin Digital" /></a></div>
		<div class="r">[Header Breadcrumbs]</div>

		<div id="nav">
			<ul class="lv1">
				<li class="lv1">@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "lv1" })</li>
				<li class="lv1">@Html.ActionLink("Simple", "Simple", "Home", routeValues: null, htmlAttributes: new { @class = "lv1" })</li>
				<li class="lv1">@Html.ActionLink("Error", "Error", "Home", routeValues: null, htmlAttributes: new { @class = "lv1" })</li>
				<li class="lv1">@Html.ActionLink("Test", "Index", "Test", routeValues: null, htmlAttributes: new { @class = "lv1" })</li>
				<li class="lv1">@Html.ActionLink("Test/Test", "Test", "Test", routeValues: null, htmlAttributes: new { @class = "lv1" })</li>
			</ul>
		</div>
	</div>
</div>
<div id="bc"><div class="in">You are here: [Breadcrumbs]</div></div>

<script type="text/javascript">
	//$(function ()
	//{
	//	$("#nav li.lv1").each(function () { $("ul", this).has("li").css({ "min-width": $(this).width() + "px" }); });
	//	$("#nav li.lv1").hoverIntent(function () { $("ul", this).has("li").slideDown(100); }, function () { $("ul", this).has("li").slideUp(100); });
	//});
</script>